
@{
    ViewData["Title"] = "İletişim";
}






<section>
    <div class="w-100 pt-60 position-relative">
        <div class="fixed-bg" style="background-image: url(/images/bbg3.jpg);"></div>
        <div class="container">
            <div class="page-title-wrap text-center w-100 d-inline-block">
                <div class="page-title-inner d-inline-block">
                    <h2 class="mb-0 text-color7">İletişim</h2>
                   
                </div>
            
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="w-100 pt-50 pb-86">
        <div class="container">
            <div class="contact-wrap w-100">
                <div class="row align-items-center">
                    <div class="col-md-5 col-sm-12 col-lg-4">
                        <div class="get-in-touch-wrap mt-40 text-white w-100 overflow-hidden brd-rd20" style="background-image: url(/images/contact.jpg);">
                            <h2 class="mb-0">Bize Ulaşın</h2>
                            <p class="mb-0">Görüş ve önerileriniz için bize her zaman ulaşabilirsiniz.</p>
                          
                            <div class="contact-info-box mt-20 d-flex flex-wrap w-100">
                                <i class="fas fa-envelope"></i>
                                <div class="contact-info-inner">
                                    <h4 class="mb-0">Email:</h4>
                                    <p class="mb-0">info@bisorun.com</p>
                                </div>
                            </div>
                            <div class="contact-info-box mt-20 d-flex flex-wrap w-100">
                                <i class="fas fa-mobile-alt"></i>
                                <div class="contact-info-inner">
                                    <h4 class="mb-0">Telefon:</h4>
                                    <p class="mb-0">0545 496 22 18</p>
                                </div>
                            </div>
                            <div class="scl-links2 mt-40 w-100">
                               
                                <a href="javascript:void(0);" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a href="javascript:void(0);" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                             
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-lg-8">
                        <div class="contact-form-wrap contact-form mt-40 w-100">
                            <h2 class="mb-0">İletişim Adreslerimiz</h2>
                           <p>Sitemiz için sizden gelecek bütün görüş ve öneriler değerlidir. Ayrıca işbirliği veya ortak çalışma maksadıyla burada bulunan iletişim adresleri üzerinden bize ulaşabirisiniz.</p>
                        </div>
                    </div>
                </div>
            </div><!-- Contact Wrap -->

        </div>
    </div>
</section>