@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


    <section class="mb-5">
        <div class="w-100 pt-60 position-relative">
            <div class="fixed-bg" style="background-image: url(/images/bbg3.jpg);"></div>
            <div class="container">
                <div class="page-title-wrap text-center w-100 d-inline-block">
                    <div class="page-title-inner d-inline-block">
                        <h2 class="mb-0 text-color7">Hesap Onayı</h2>

                    </div>

                </div><!-- Page Title Wrap -->
            </div>
        </div>
    </section>
<h1>Hesap Onayı</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />